nav.navbar.container-fluid
	.container
		ul.navbar-header
			a.navbar-brand(href='#')
				img(alt='Brand', src='')
		ul.navbar-right
			button.btn.btn-default.navbar-btn.btn-sing(type='button') Sign up
			button.btn.btn-default.navbar-btn.btn-login(type='button') Login