
  <div class="row searchForm">
    <div class="col-md-8">
      <form id="artist-search" class="form-group" ng-submit="findArtist()">
        <div class="form-group">
          <label for="" >Provincia</label>
          <input ng-model="province" id="" type="text" name="" placeholder="ej. Granada" class="form-control"/>
        </div>

        <div class="form-group">
          <label for="" >Estilo</label>
          <input ng-model="style" id="" type="text" name="" placeholder="ej. Rock" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-default" ng-href="details.html">Buscar</button>
      </form>
    </div>
  </div>
