<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <h2>Contáctanos</h2>
      <form class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="Enter email" class="form-control"/>
        <label for="comment" style="margin-top:4px;">Comment:</label>
        <textarea id="comment" rows="5" class="form-control textarea-style"></textarea><a href="#" type="submit" style="" class="btn btn-default">Submit</a>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

