extends layout

block content
	.container
		h3.createBand Crear banda
		form.form-group(action='/formband', method='POST', role='form')
			.form-group
				.col-md-10
					.row.bandName
						.col-md-8
							label.control-label(for='bandName') Banda:
							input.form-control(type='text', name='band', placeholder='Nombre de la banda')
						.col-md-4
							label.control-label(for='image') Imagen:
							#photo-container
								img#bandPhoto(src='')
							br
							input#bandImgFile(type='file')
							#progress-container
					#generalMembers
						.row.bandMembers#insertMembers
							.col-md-4
								label.control-label(for='memberName') Nombre:
									input.form-control#fieldName_1(type='text', name='name_member', placeholder='Mark')
									a.delete(href='#') 
							.col-md-4
								label.control-label(for='memberSurname') Apellido:
								input.form-control#fieldSurname_1(type='text',name='surname_member', placeholder='Knopfler')
							.col-md-4
								label.control-label(for='memberRole') Role:
								input.form-control#fieldRole_1(type='text', name='role_member', placeholder='Guitarrista y cantante')
						//- .col-md-3
						//- 	label.control-label(for='image') Foto perfil:
						//- 	#photo-container
						//- 		img#memberImg(src='')
						//- 	br
						//- 	input#memberImgFile(type='file')
					
					button#addMember.btn Añadir 
					
						
						


					.row.bandStyle
						.col-md-12
							label.control-label(for='bandStyle') Estilo:
							input.form-control(type='text', name='style', placeholder='Estilo de música')
						//-boton para añadir estilos
					.row.bandProvinceToPlay
						.col-md-12
							label.control-label(for='provincesToPlay') Provincia:
							input.form-control(type='text', name='provinces_play', placeholder='Provincias en la que estáis disponibles para tocar')
						//- boton para añadir provincias
					.row.descriptionRow
						.col-md-12
							label.control-label(for='input') Descripción:
							textarea.form-control(placeholder='', name='description', rows='3')
					.row.submitBotton
						.col-md-12
							button.btn.botton_create(type='submit') Crear banda

				
