extends layout

block content
	.container.mainBody
		.row.searchForm
			.col-xs-2.col-md-4
			.col-xs-8.col-md-4
				form#artist-search.form-group(action='', method='POST', role='form')
					.form-group
						label.sr-only(for='') label
						input#searchProvince.form-control(type='text', placeholder='ej, Málaga')
				form#artist-search.form-group(action='', method='POST', role='form')
					.form-group
						label.sr-only(for='') label
						input#searchStyle.form-control(type='text', placeholder='ej, Rock')
				button#searchBand.btn.btn-primary(type='submit') Buscar

				
			.col-xs-2.col-md-4
			

			