<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>bolofy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar-inverse">
      <ul class="navbar-header"><a href="#" class="navbar-brand"><img alt="Brand" src="..."></a></ul>
      <ul class="navbar-right navbar-buttons">
        <button type="button" class="btn btn-default navbar-btn btn-sing">Sign up</button>
        <button type="button" class="btn btn-default navbar-btn btn-login">Login</button>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="input-group">
            <input type="text" placeholder="Search for..." class="form-control"><span class="input-group-btn">
              <button type="button" class="btn btn-default">Buscar</button></span>
          </div>
        </div>
      </div>
    </div>
  </body>
  <body>
    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>