<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="" alt="">
      <div class="caption">
        <h3>nombre del grupo</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quibusdam fuga ea, neque nobis aspernatur, aut laboriosam qui odit tenetur ab autem alias, culpa repudiandae sint dolorem, nemo pariatur velit!</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>