extends layout

block content
	.container.searchBody
		.row
			.col-sm-6.col-md-4
				.thumbnail
					img(src='', alt='')
					.caption
						h3 nombre del grupo
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quibusdam fuga ea, neque nobis aspernatur, aut laboriosam qui odit tenetur ab autem alias, culpa repudiandae sint dolorem, nemo pariatur velit!
					button.btn.btn-default.navbar-btn(type='button') Detalles
