body, html {
  height: 100%;
}

.navbar {
	margin-bottom: -10px;
	background-color: #000000;
}

#bs-navbar-collapse {
	padding: 5px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: rgb(189, 126, 58);
    font-family: 'Bungee', cursive;
}

.logo {
	margin-top: 10px;
	font-family: 'Bungee', cursive;
	font-size: 30px;
}

.corporative-color {
	font-family: 'Bungee', cursive;
	color: #bd7e3a;
}

body {
	background-image: url("/img/escenario.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100%;
	height: 100%;
	width: 100%;
	height: 100%;
	position:absolute;
}

.searchForm {
	   margin-top: 100px;

    margin: 0 auto;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}

.mainBody {
	background: rgba(255,255,255,.7);
	padding-bottom: 20px;
}


.searchBody {
	background-image: url("/img/searchbackground.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	position:absolute;
}

.contactBody {
	background-image: url("/img/searchbackground.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	position:absolute;

}

/*#artistSearch {
 background:rgba(0,0,0,0.2);
}

#searchStyle {
	background: rgba(74, 67, 67, 0.29);

}

#searchProvince {
	background: rgba(74, 67, 67, 0.29);
}
*/
.btn {
	//background: rgba(74, 67, 67, 0.29);
	padding-top: 6px;
    padding-right: 54px;
    padding-bottom: 6px;
    padding-left: 54px;

}

.btn-primary {
    color: #fff;
    border-color: #fff;
}
/*-------------------results page-------------------*/
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.item {
  margin: 2%;
  width: 225px;
  border-color: 1px solid black;
}

.centered {
  text-align: center;
}

img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

/*--------read more---------------*/

#more-button{border-style:none;background:none;font:16px Serif;color:blue;margin: 0 0 10px 0;}

#grow input:checked{color:red;}

#more-button:hover{color:black;}

#grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }
/*
---------------formgroup------------------------------*/

h3.createBand {
	margin-top: 30px;
}

.row.bandName {
	margin-top: 10px;
}

.row.bandStyle {
	margin-top: 10px;
}

.row.bandProvinceToPlay {
	margin-top: 10px;
}

.row.descriptionRow {
	margin-top: 10px;
}

.row.submitBotton {
	margin-top: 10px;
}