block content
	.container.contactBody
		.row
			.col-md-3
			.col-md-5
				h2 Contáctanos
				form.form-group
					label(for='email') Email:
					input#email.form-control(type='email', placeholder='Enter email')
					label(for='comment', style='margin-top:4px;') Comment:
					textarea#comment.form-control.textarea-style(rows='5')
					a.btn.btn-default(href='#', type='submit', style='') Submit
			.col-md-3