
  <div class="row searchForm">
    <div class="col-md-8">
      <form id="artist-search" role="form" class="form-group" ng-submit="findArtist()">
        <div class="form-group">
          <label for="" class="sr-only">Search Band/Artist</label>
          <input ng-model="artistQuery" id="" type="text" name="" placeholder="ej. Eskorzo" class="form-control"/>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-href="details.html">Buscar</button>
      </form>
    </div>
  </div>
